.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px;
  padding: 0 50px;

  .card-list {

    width: 100%;
    margin-bottom: 50px;
   
    

    img {
      width: 100%;
      min-height: 75%;
      max-height: 326px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 15px;
      border: white solid 2px;
     
    }

    h2 {
      text-align: center;
    }
  }
}
.modal-content .apercu{
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
  a{
    text-decoration: none !important;
    color: inherit;
  }
  h2{
    margin: 20px 0;
  }
}


@media screen and (max-width: 768px) {
  .card-container{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .card-list {

  }
}
