.modal{
    
    position: fixed;
    
    inset: 0;

    z-index: 1000;
    display: flex;
    justify-content: center;
    margin: 4% auto;
    

}
.modal-backround{
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

// .overlay{
// width: 100vw;
// height: 100vh;
// position: fixed;

// top: 0;
// left: 0;
// right: 0;
// bottom: 0;
// }

.open-mdl-text{
    // visibility: hidden;
    opacity: 0;
}
.open-modal :hover{
   opacity: 1;
   background-color: #fff;
}
.modal-content{
    width: 600px;

    background: #fff;
   
    border-radius: 15px;
    padding: 25px;
}
.close-modal{
   position: absolute;
    top: 20px;
    right: 26rem;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    color: DarkGoldenrod;
    font-weight: 700;
    border: DarkGoldenrod 2px solid;
}


@media screen and (max-width: 768px) {
    .modal-content{
        width: 50%;
        height: 50%;
    
        background: #fff;
       
        border-radius: 15px;
        padding: 25px;
    }
  }
  